h2#friends Friends

a.badge.badge-primary href="https://www.facebook.com/heavylooksband/" Heavy Looks
a.badge.badge-primary href="https://www.facebook.com/earthlingsband/" The Earthlings
a.badge.badge-primary href="https://www.facebook.com/owlsfoxesandsebastian/" Owls, Foxes, and Sebastian
a.badge.badge-primary href="https://www.facebook.com/skylinesoundsmusic/" Skyline Sounds
a.badge.badge-primary href="https://www.facebook.com/civilengineerstheband/" The Civil Engineers

- # Related bands
a.badge.badge-primary href="https://www.facebook.com/squarebombs/" The Square Bombs

- # Inactive bands
a.badge.badge-light href="https://www.facebook.com/TLDRband/" TL;DR
a.badge.badge-light href="https://www.facebook.com/redtapediaries/" Red Tape Diaries
a.badge.badge-light href="https://www.facebook.com/theseekingmachines/" The Seeking Machines
a.badge.badge-light href="https://www.facebook.com/TheWerewolverine/" The Werewolverine
